certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
commonmark==0.9.1
idna==2.10
loguru==0.5.3
notify-py==0.3.2
Pygments==2.9.0
rich==10.1.0
typing-extensions==3.10.0.0
urllib3==1.26.4
win32-setctime==1.0.3
